#game-wrapper {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 2em;
}

.game {
    padding: 1%;
    width: 25%;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    text-align: center;
}

.game:hover .game-cover {
  display: none;
}

.game:hover .game-trailer{
  display: block;
}

.game-cover {
  border-radius: 2%;
  object-fit: fill;
  height: 200px;
  width: 100%;
}

.game-trailer {
  border-radius: 2%;
  display:none;
  object-fit: fill;
  height: 200px;
  width: 100%;
}

q {
  quotes: '"' '"' "'" "'";
  font-style: italic;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}

button {
  margin-top: 2%;
  background-color: rgb(230, 165, 176);
  padding: 5px 16px;
  border: 0px;
  border-radius: 5%;
}

button:hover {
  background-color: rgb(211, 153, 162);
}